<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <!-- Favicon link -->
    <link rel="shortcut icon"
        href="https://imgs.search.brave.com/uDv6MAqBk8MttfDnQfyi52COFVZM6rgPTsMRQ2wpOXs/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jZG4u/ZHJpYmJibGUuY29t/L3VzZXJ1cGxvYWQv/MzY1NTE4OTkvZmls/ZS9vcmlnaW5hbC0z/MDFkYmQ3NTIyYWM2/NGZiNWIzZjRkNTll/YjNlZWUzNC5qcGc_/Zm9ybWF0PXdlYnAm/cmVzaXplPTQwMHgz/MDAmdmVydGljYWw9/Y2VudGVy"
        type="image/x-icon">
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand font-weight-bold" href="/">
                <i class="fa fa-pencil mr-2"></i>Note Taker
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbar">
                {% if user.is_authenticated %}
                <!-- Left Side -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa fa-home mr-1"></i> Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/logout">
                            <i class="fa fa-sign-out mr-1"></i> Logout
                        </a>
                    </li>
                </ul>
                {% else %}
                <!-- Right Side -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <i class="fa fa-sign-in mr-1"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign-up">
                            <i class="fa fa-sign-in mr-1"></i> Sign Up
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert 
          {% if category == 'error' %}
            alert-danger
          {% else %}
            alert-success
          {% endif %}
          alert-dismissible fade show shadow-sm text-center" role="alert">
            <strong>
                {% if category == 'error' %}
                <i class="fa fa-exclamation-circle mr-2"></i>
                {% else %}
                <i class="fa fa-check-circle mr-2"></i>
                {% endif %}
            </strong>

            {{ message }}

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 88vh;">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Javascript cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>